<!doctype html>
<html>
    <head>
        <title>Finstagram</title>
        <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
        <link rel="stylesheet" href="../../public/stylesheets/lib.css">
        <link rel="stylesheet" href="../../public/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Finstagram</h1>
        </header>
        <main role="main">
            <article class="post">
                <div class="user-info">
                    <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
                    <h2>sharky_j</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/shark.png" alt="post from sharky_j">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            sharky_j: Out for the long weekend... too embarrassed to show y'all the beach bod!
                        </p>
                    </li>
                </ul>
            </article>
            
            <article class="post">
                <div class="user-info">
                    <img src="<%= @post_shark[:avatar_url] %>" alt="<%= @post_shark[:username] %>">
                    <h2><%= @post_shark[:username] %></h2>
                    <h3><%= @post_shark[:humanized_time_ago] %></h3>
                </div>
                <a class="photo" href="#">
                    <img src="<%= @post_shark[:photo_url] %>" alt="post from <%= @post_shark[:username] %>">
                </a>
                <div class="actions">
                    <%= @post_shark[:like_count] %> likes
                    <span class="comment-count"><%= @post_shark[:comment_count] %> comment</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            <%= @post_shark[:comments][0][:username] %>: <%= @post_shark[:comments][0][:text] %>
                        </p>
                    </li>
                </ul>    
            </article>
            
            <article class="post">
                <div class="user-info">
                    <img src="http://naserca.com/images/marlin_peppa.jpg" alt="marlin_peppa">
                    <h2>marlin_peppa</h2>
                    <h3>3 hours ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/marlin.jpg" alt="post from marlin_peppa">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            marlin_peppa: lunchtime! ;)
                        </p>
                    </li>
                </ul>
            </article>
            
            <article class="post">
                <div class="user-info">
                    <img src="https://s-media-cache-ak0.pinimg.com/736x/d7/e1/a5/d7e1a5f1503c983f6f0ba4284a781891.jpg" alt="catfish_guy" style="height: 40px;">
                    <h2>catfish_guy</h2>
                    <h3>4 hours ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="https://s-media-cache-ak0.pinimg.com/736x/6e/ed/03/6eed034a4660315452b538e771410070.jpg" alt="post from catfish_guy" style="height: 418px;">
                </a>
                <div class="actions">
                    37285 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            catfish_guy: meow
                        </p>
                    </li>
                </ul>
            </article>
        </main>
    </body>
</html>